
/
  Kobe Express by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
%html
  %head
    %title Our Menu
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    /[if lte IE 8] <script src="assets/js/ie/html5shiv.js"></script>
    %link{:href => "assets/css/main.css", :rel => "stylesheet"}/
    /[if lte IE 9] <link rel="stylesheet" href="assets/css/ie9.css" />
  %body
    #page-wrapper
      / Header
      #header-wrapper
        %header#header.container
          .row
            .12u
              / Logo
              %h1
                %a#logo{:href => "#"} Our Menu
              / Nav
              %nav#nav
                =link_to "Home", root_path
                =link_to "Our Menu", menus_path
                =link_to "Directions", locations_path
        #banner
          .container
            .row
              .6u{:class => "12u(mobile)"}
                / Banner Copy
                %p We do something really useful, important, and unique. Learn all about it here ...
                %a.button-big{:href => "#"} Go on, click me!
              .6u{:class => "12u(mobile)"}
                / Banner Image
                %a.bordered-feature-image{:href => "#"}
                  %img{:alt => "", :src => "assets/banner.jpg"}/
      / Features
      #features-wrapper
        #features
          .container
            .row
              .3u{:class => "12u(mobile)"}
                / Feature #1
                Menu stuff goes here!
      / Content
      #content-wrapper
        #content
          .container
            .row
              .4u{:class => "12u(mobile)"}
                / Box #1
                %section
                  %header
                    %h2 Who We Are
                    %h3 A subheading about who we are
                  %a.feature-image{:href => "#"}
                    %img{:alt => "", :src => "assets/pic05.jpg"}/
                  %p
                    Duis neque nisi, dapibus sed mattis quis, rutrum accumsan sed.
                    Suspendisse eu varius nibh. Suspendisse vitae magna eget odio amet mollis
                    justo facilisis quis. Sed sagittis mauris amet tellus gravida lorem ipsum.
              .4u{:class => "12u(mobile)"}
                / Box #2
                %section
                  %header
                    %h2 What We Do
                    %h3 A subheading about what we do
                  %ul.check-list
                    %li Sed mattis quis rutrum accum
                    %li Eu varius nibh suspendisse lorem
                    %li Magna eget odio amet mollis justo
                    %li Facilisis quis sagittis mauris
                    %li Amet tellus gravida lorem ipsum
              .4u{:class => "12u(mobile)"}
                / Box #3
                %section
                  %header
                    %h2 What People Are Saying
                    %h3 And a final subheading about our clients
                  %ul.quote-list
                    %li
                      %img{:alt => "", :src => "assets/pic06.jpg"}/
                      %p "Neque nisidapibus mattis"
                      %span Jane Doe, CEO of UntitledCorp
                    %li
                      %img{:alt => "", :src => "assets/pic07.jpg"}/
                      %p "Lorem ipsum consequat!"
                      %span John Doe, President of FakeBiz
                    %li
                      %img{:alt => "", :src => "assets/pic08.jpg"}/
                      %p "Magna veroeros amet tempus"
                      %span Mary Smith, CFO of UntitledBiz
      / Footer
      #footer-wrapper
        %footer#footer.container
          .row
            .8u{:class => "12u(mobile)"}
              / Links
              %section
                %h2 Links to Important Stuff
                %div
                  .row
                    .3u{:class => "12u(mobile)"}
                      %ul.link-list.last-child
                        %li
                          %a{:href => "#"} Neque amet dapibus
                        %li
                          %a{:href => "#"} Sed mattis quis rutrum
                        %li
                          %a{:href => "#"} Accumsan suspendisse
                        %li
                          %a{:href => "#"} Eu varius vitae magna
                    .3u{:class => "12u(mobile)"}
                      %ul.link-list.last-child
                        %li
                          %a{:href => "#"} Neque amet dapibus
                        %li
                          %a{:href => "#"} Sed mattis quis rutrum
                        %li
                          %a{:href => "#"} Accumsan suspendisse
                        %li
                          %a{:href => "#"} Eu varius vitae magna
                    .3u{:class => "12u(mobile)"}
                      %ul.link-list.last-child
                        %li
                          %a{:href => "#"} Neque amet dapibus
                        %li
                          %a{:href => "#"} Sed mattis quis rutrum
                        %li
                          %a{:href => "#"} Accumsan suspendisse
                        %li
                          %a{:href => "#"} Eu varius vitae magna
                    .3u{:class => "12u(mobile)"}
                      %ul.link-list.last-child
                        %li
                          %a{:href => "#"} Neque amet dapibus
                        %li
                          %a{:href => "#"} Sed mattis quis rutrum
                        %li
                          %a{:href => "#"} Accumsan suspendisse
                        %li
                          %a{:href => "#"} Eu varius vitae magna
            .4u{:class => "12u(mobile)"}
              / Blurb
              %section
                %h2 An Informative Text Blurb
                %p
                  Duis neque nisi, dapibus sed mattis quis, rutrum accumsan sed. Suspendisse eu
                  varius nibh. Suspendisse vitae magna eget odio amet mollis. Duis neque nisi,
                  dapibus sed mattis quis, sed rutrum accumsan sed. Suspendisse eu varius nibh
                  lorem ipsum amet dolor sit amet lorem ipsum consequat gravida justo mollis.
      / Copyright
      #copyright
        \© Untitled. All rights reserved. | Design:
        %a{:href => "http://slwaller.github.io"} Sam Waller
    / Scripts
    %script{:src => "assets/js/jquery.min.js"}
    %script{:src => "assets/js/skel.min.js"}
    %script{:src => "assets/js/skel-viewport.min.js"}
    %script{:src => "assets/js/util.js"}
    /[if lte IE 8] <script src="assets/js/ie/respond.min.js"></script>
    %script{:src => "assets/js/main.js"}